<!doctype html>
<html class="no-js">
<head>
	<base href="/TIEBAMODE/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>500</title>
	<meta name="description" content="This is a 500 page.">
	<meta name="keywords" content="500">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="icon" type="image/png" href="assets/i/favicon.png">
	<link rel="apple-touch-icon-precomposed" href="assets/i/favicon.png">
	<meta name="apple-mobile-web-app-title" content="Amaze UI" />
	<link rel="stylesheet" href="assets/css/amazeui.min.css"/>
	<link rel="stylesheet" href="assets/css/admin.css">

	<style type="text/css">
		.padding-0 {
			padding-top: 0;
		}

	</style>

</head>
<body>
  <div class="am-cf admin-main padding-0" >
  	<!-- content start -->
  	<div class="admin-content">
  		<div class="am-g">
  			<div class="am-u-sm-12">
  				<h2 class="am-text-center am-text-xxxl am-margin-top-lg">500. Sever Error</h2>
  				<p class="am-text-center">This is a 500 page.</p>
  				<pre class="page-500">
━━━━━┒
┓┏┓┏┓服务器又出错了我也不活了！
┛┗┛┗┛┃＼0 ／
┓┏┓┏┓┃　/
┛┗┛┗┛┃ノ)
┓┏┓┏┓┃
┃┃┃┃┃┃━━━━┒服务器错误我已经跳楼了
┓┏┓┏┓
┛┗┛┗┛┃ヽ`Д´)／等一下这里都
┓┏┓┏┓┃　/已经成坟场了！
┛┗┛┗┛┃ノ)这么多尸体跳下去
┓┏┓┏┓┃○─╮╮...○─╮╮都死不了
┓┏┓┏┓┃　○─╮╮...○─╮╮
┛┗┛┗┛┃○─╮╮...○─╮╮...○─╮╮...
┓┏┓┏┓┃　○─╮╮...○─╮╮○─╮╮...○─╮╮
┛┗┛┗┛┃○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮
┓┏┓┏┓┃　○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...
┛┗┛┗┛┃○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...
┓┏┓┏┓┃　○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...
┛┗┛┗┛┃○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...
┓┏┓┏┓┃　○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...
┛┗┛┗┛┃○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...○─╮╮...
┓┏┓┏┓┃
  				</pre>
  			</div>
  		</div>
  	</div>
  </div>
  <!-- content end -->

</div>
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
